<!doctype html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<title>TIC Fliers Catalog</title>
	<link rel='stylesheet' href='assets/build/css/global.css' type='text/css' />
</head>
<body ng-app="APP" ng-controller="catalog">
	
	<div 	class="backing" 
				ng-show="lightbox">
		<div class="lightbox">
			<span class="closeLightbox"
						ng-click = "lightbox = !lightbox">
				<i class="fa fa-times"></i>
			</span>
			<img src="" width="384" height="500"></img>
		</div>
	</div>
	
<div class="main row">
	<div class="inner-main small-12 small-centered coumn">
		
		
		
		
		<div class="header row">
			<div class="small-12 column">
				<img src="assets/build/img/tic-logo.png" width='200' height='36'></img>	
			</div>
		</div>
		
		<div class="row">
			<div class="small-8 small-centered column">
				<pre class="fliers animated zoomIn">
  _____      _       _     _____       __                             
 |  __ \    (_)     | |   |  __ \     / _|                            
 | |__) | __ _ _ __ | |_  | |__) |___| |_ ___ _ __ ___ _ __   ___ ___ 
 |  ___/ '__| | '_ \| __| |  _  // _ \  _/ _ \ '__/ _ \ '_ \ / __/ _ \
 | |   | |  | | | | | |_  | | \ \  __/ ||  __/ | |  __/ | | | (_|  __/
 |_|   |_|  |_|_| |_|\__| |_|  \_\___|_| \___|_|  \___|_| |_|\___\___|
				</pre>
			</div>
		</div>
		
		<div class="navigation row">
			<div class="buttons small-12  column">
				<span class="list-button" 
							ng-class="{active: thActive}" 
							ng-click="thActive = !thActive; listActive = !listActive">
					<i class="fa fa-th"></i>
				</span>
				<span class="list-button" 
							ng-class="{active: listActive}" 
							ng-click="thActive = !thActive; listActive = !listActive">
					<i class="fa fa-list"></i>
				</span> | 
				<label for="cs">Hide Revision <input 	type="checkbox" 
																							name="cs" 
																							ng-init="cs = true"
																							ng-checked="cs"
																							ng-click="cs = !cs"/>
																						</label> | 
																						
				<label for="fv">Filter Vial <input 	type="checkbox" 
																						name="fv"
																						ng-true-value="'FV'"
																						ng-false-value="''"
																						ng-model="q.section"/>
																					</label>
				<label for="og">Optimum Growth&reg; <input 	type="checkbox" 
																										name="og" 
																										ng-true-value="'OG'"
																										ng-false-value="''"
																										ng-model="q.section"/>
																									</label>
				<label for="uyf">Ultra Yield&trade; <input 	type="checkbox" 
																										name="uyf"
																										ng-true-value="'UYF'"
																										ng-false-value="''"
																										ng-model="q.section"/>
																									</label>
			</div>
		</div>
		
		<div class="catalog row">
			<div class="small-12 column">

				<ul class="items small-block-grid-1" 
						ng-class="{'medium-block-grid-4': thActive, 'medium-block-grid-3': listActive}">
					
					<li ng-repeat="f in data | filter:q"
							ng-class="{cardList: listActive, cardTh: thActive}" 
							ng-mouseenter="cardHovered = !cardHovered" 
							ng-mouseleave="cardHovered = !cardHovered">
						
						<img 	ng-class="{imageList: listActive, imageTh: thActive}" 
									ng-src="assets/build/img/{{ f.partNumber }}.jpg" 
									width="153" height="200"
									ng-click="whatsmysrc()"
									></img>
						
						<div class="info" ng-class="{infoList: listActive, infoTh: thActive, hovered: cardHovered}">
							<h1 class="part-number">{{ f.partNumber }}<span class="revNumber" ng-hide="cs">{{ f.rev }}</span></h1>
							<p class="description">{{ f.description }}</p>
							<p class="notes">Pages: {{ f.pages }}</p>
							<p class="notes">{{ f.notes }}</p>
						</div>
					
					</li>
				</ul>
			</div>
		</div>
		
		




	</div><!-- end inner-main -->
</div><!-- end main -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
	<script type='text/javascript' src='assets/build/js/site.js'></script> 
</body>
</html>
