$white:#ffffff;
$tic-blue: #0676B3;
$grey:#999999;

body{
		background:lighten($grey, 30%);
}
.fliers{
		color:$tic-blue;
		text-shadow:0 1px 0 rgba(darken($tic-blue, 20%), .3);
		font-family: 'Consolas', 'monaco', monospace;
}
.header{
		padding:1rem 0;
		border-bottom:1px dashed $white;
}

.catalog{
		li{
				padding:0;
				margin:0 1rem 1rem 0;
				img{
				}
				.info{
						width:153px;
						padding:.5rem 1rem;
						.part-number{
								font:bold 1rem sans-serif;
								margin:0;
								padding:0;
								span.revNumber{
									&:before{
										content:"-";
									}
								}
						}
						.description{
								font:normal .75rem sans-serif;
								color:darken($grey, 35%);
								margin:.25rem 0 0 0;
								padding:0;
						}
						.notes{
								font:normal .7rem sans-serif;
								color:darken($grey, 20%);
								margin:.5rem 0 0 0;
								padding:0;
						}
						.inStock{
							background:green;
							color:white;
							border-radius:.25rem;
							padding:.25rem .5rem;
						}
						.outStock{
							background:red;
							color:white;
							border-radius:.25rem;
							padding:.25rem .5rem;
						}
				}
				&:after{
						display:table;
						content:"";
						clear:both;
				}
		}
}

.list-button{
	margin:0;
	padding:.5rem 1rem;
	background:none;
	display:inline-block;
	color:darken($white, 20%);
	cursor:pointer;
	transition:all 300ms;
	&:hover{
		background:rgba($white, .25);
		color:darken($white, 90%);
	}
	&:active{
		outline:none;
		border:none;
	}
}
.active{
	color:darken($white, 70%);
}

.catalog .items{
	.imageList{
		float:left;
		cursor:pointer;
	}
	.cardList{
		width:calc(153px * 2);
		background:rgba($white, .3);
	}
	.infoList{
		float:left;
	}
	
	.imageTh{
		cursor:pointer;
	}
	.cardTh{
		position:relative;
		width:153px;
		background:none;
		margin-right:5rem;
		overflow:hidden;
		box-shadow: 0 -5px 20px 5px rgba($white, .8),
								0 0 15px 5px rgba(darken($white, 100%), .2), 
								0 4px 5px 1px rgba(darken($white,100%), .45);
	}
	.infoTh{
		position:absolute;
		bottom:0;
		left:0;
		background:rgba($white, .8);
		opacity:0;
		transition:opacity 350ms;
	}
	.hovered{
		opacity:1;
	}
}

label, input[type="checkbox"]{
	display:inline-block;
}
label{
	margin:0 1rem 0 1rem;
}

//lightbox thingy
body{
	position:relative;
}
.backing{
	position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	z-index:2000;
	background:rgba(darken($grey, 80%), .75);
	.lightbox{
		position:relative;
		margin:0 auto;
		padding:1.75rem 1rem 1rem 1rem;
		max-width:400px;
		min-height:200px;
		background:rgba($white, .7);
		border:2px solid rgba(darken($white, 100%), .5);
		border-radius:.5rem;
		img{
			box-shadow: 0 1px 10px 3px rgba(darken($white, 100), .1);
		}
		.closeLightbox{
			position:absolute;
			top:.25rem;
			right:1rem;
			color:darken($white, 60%);
			text-shadow:0 1px 0 darken($white, 15%);
			transition:all 300ms;
			cursor:pointer;
			&:hover{
				color:darken($white, 90%);
				text-shadow:0 1px 0 $white;
				
			}
		}
	}
}
